<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger in Flight</title>
</head>
<body>
    <table border="1">
    <thead>
        <th>airline name</th>
        <th>flight number</th>
        <th>flight date</th>
        <th>departure time</th>
    </thead>
    <tbody>
    <%flightResult.forEach(function(flightResult, index){
        %>
        <tr>
            <td><%=flightResult.flight_number%></td>
            <td><%=flightResult.airlineID%></td>
            <td><%=flightResult.departure_airport%></td>
            <td><%=flightResult.destination_airport%></td>
        </tr>
        <%
    })
    %>
    </tbody>
        </table>
</body>
</html>